<!DOCTYPE HTML/>
<html>
  <head>
    <title>Photomatic</title>

<!--CSS
--------------------------------------------------------->
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
    <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
    <link rel="stylesheet" types="text.css" href="/css/normalize.css">
    <link rel="stylesheet" types="text.css" href="/css/skeleton.css">
    <link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>



<!--Navigation Bar
--------------------------------------------------------->
	<div class = "template">
    <div class = "template-header">
      <body class = "bodytemp">
      <!-- <nav> -->
        <i class="fa fa-camera fa-2x" aria-hidden="true">Photomatic</i>

          <a href ="/">Sign Up</a>
          <a href = "/login">Login</a>
          <a href = "/">Upload</a>
          <a href = "/">Search</a>
      <!-- </nav> -->
		 </div>

        <main class= "template-main">
			    <%-include("pages/" + page, args);%>
		    </main>
</div>
<!-- Footer
--------------------------------------------------------->
<footer>Photomatica 2017</footer>

</body>
</html>
