<head>
  <title>Photomatic</title>

<%/* CSS */%>

  <meta name="viewport" content="width-device-width, initial scale=1">
  <link rel="stylesheet" types="text.css" href="/css/cssReset.css">
  <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
  <link rel="stylesheet" types="text.css" href="/css/normalize.css">
  <link rel="stylesheet" types="text.css" href="/css/skeleton.css">
  <link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

<%/* NAVIGATION BAR */%>

<div class = "template">
  <div class = "template-header">


      <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
      <div class = "photomatic">Photomatic</div>


      <div class = "welcome">Welcome <%= args.username %></div>

        <a href ="/photo/upload">
        <div class="button" id="upload">Upload</div></a>

        <a href ="/user/logout">
        <div class="button" id="logout">Logout</div></a>

   </div>
    </div>
      <%/* TEMPLATE-MAIN */%>

       <%-include("pages/" + page, args);%>



<%/* FOOTER */%>


      <footer>Photomatic 2017</footer>



</body>
