<!DOCTYPE HTML/>
<html>
  <head>
    <title>Photomatica</title>
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
    <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

	<div class = "template">
    <div class = "template-header">
      <nav>
        <a href ="/home">Home</a>
        <a href = "/">Explore</a>
        <a href = "photo/upload">Post</a>
        <a href = "/user/login">Login</a>
        <a href = "/user/signup">Signup</a>
      </nav>

		 </div>

        <main class= "template-main">
			    <%-include("pages/" + page, args);%>
		    </main>


        <footer class= "template-footer">

        </footer>
	</div>


</body>
</html>
