<!DOCTYPE HTML/>
<html>
  <head>
    <title>Photomatica</title>
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
    <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
  </head>

  <body>

	<div class = "template">
    <div class = "template-header">
      <ul class = nav-bar>
        <li>Home</li>
        <li>Explore</li>
        <li>Post</li>
        <li>Login</li>
      </ul>

		 </div>

        <main class= "template-main">
			    <%-include("pages/" + page, args);%>
		    </main>


        <footer class= "template-footer">

        </footer>
	</div>


</body>
</html>
