<!DOCTYPE HTML/>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
  </head>

  <body>

	<div class = "template">

		 <div class="template-header">

      	<!-- <h1 class= "template-name-in-header"></h1> -->

		 </div>

        <main class= "template-main">
			    <%-include("pages/" + page, args);%>
		    </main>


        <footer class= "template-footer">

        </footer>
	</div>


</body>
</html>
