<!DOCTYPE HTML/>
<html>
  <head>
    <title>Photomatic</title>

<!--CSS
--------------------------------------------------------->
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
    <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
<<<<<<< HEAD
    <link rel="stylesheet" types="text.css" href="/css/normalize.css">
    <link rel="stylesheet" types="text.css" href="/css/skeleton.css">
    <link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
=======
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
>>>>>>> 2a84b32cbc081d0cc64ff4d466c654084a204dcb
  </head>

  <body class = "bodytemp" id="back-image">

<!--Navigation Bar
--------------------------------------------------------->
	<div class = "template">
    <div class = "template-header">
<<<<<<< HEAD
      <!-- <nav> -->
        <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
        <div class = "photomatic">Photomatic</div>

          <a href ="/user/search"><div class = "button" id="Search">Sign Up</div></a>
          <a href = "/user/upload"><div class= "button" id="Upload">Login</div></a>
=======
      <nav>
        <a href ="/">Home</a>
        <a href = "/">Explore</a>
        <a href = "/">Post</a>
        <a href = "/login">Login</a>
        <a href = "/signup">Signup</a>
      </nav>
>>>>>>> 2a84b32cbc081d0cc64ff4d466c654084a204dcb

      <!-- </nav> -->
		 </div>

        <main class= "template-main">
			    <%-include("pages/" + page, args);%>
		    </main>
      </div>
<!-- Footer
--------------------------------------------------------->

        <footer>Photomatica 2017</footer>



</body>
</html>
