* {
	box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
	background: url("/app-images/photomatic.jpg") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

.template {
flex: 1 0	auto;
text-align: center;
min-height: 100%;
width: 100%;
margin: auto;
}

.template-header {
	background-color: #FFF;
	height: 15%;

}


/*Login Form*/

.Form {
	position: absolute;
	margin: 0 auto;
	width: 30%;
	padding: 20px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 6px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input,
			button {
				display: block;
				width: 100%;
				height: 40%;
			}
