* {
	box-sizing: border-box;
}

/* ERROR PAGE TEXT
**
***/

.error {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.errorphoto {
	object-fit: contain;
	margin-top: 200px;
  margin-left: 200px;
  -webkit-transition: -webkit-transform 3s ease-in;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);

}

/* TEMPLATE
**
***/

.bodytemp {
  display: flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
	background: url("/app-images/photomatic.jpg") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	/*-webkit-filter: blur(2px);
 -moz-filter: blur(2px);
 -o-filter: blur(2px);
 -ms-filter: blur(2px);
 filter: blur(2px);*/
}



.template {
flex: 1 0	auto;
text-align: center;
min-height: 100%;
width: 100%;
margin: auto;
}

i {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}

.template-header {
	background-color: #FFF;
	height: 15%;
	text-align: right;
}

footer {
color: white;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
text-align: center;
}

/*Login Form
**
***/

.Form {
	position: absolute;
	margin: 0 auto;
	width: 30%;
	padding: 20px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 6px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input,
			button {
				display: block;
				width: 100%;
				height: 40%;
			}
