* {
	box-sizing: border-box;
}

/*
** LANDING PAGE
***/

.message {
	text-align: center;
	margin: 150px auto;
	height: 200px;
	width: 600px;
	font-size: 45px;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
	color: white;
}

/* ERROR PAGE TEXT
**
***/

.error {
    color:  #4fabc9;
    text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
		text-align: center;
}

.errorphoto {
	object-fit: contain;
	height: auto;
	width: 33%;
	opacity: 0.3px;
	-webkit-animation:spin 3s linear infinite;
	 -moz-animation:spin 3s linear infinite;
	 animation:spin 3s linear infinite;
	}
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

/* TEMPLATE
**
***/

.bodytemp {
  display: flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background: url('/app-images/photomatic.jpg') center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#back-image {

	/*filter: blur(8px);*/
}

.template-header {
	background-color: #191919;
	width: 100%;
	height: 9%;
	opacity: 0.6;
	text-align: right;
	padding: 10px 10px 10px 10px;
	color: white;
	position: fixed;
}

.template {
	flex: 1 0	auto;
	text-align: center;
	min-height: 8%;
	width: 100%;
	margin: auto;
}

#signup {
	background-color: #4fabc9;
	color: white;
}

#login {
	color: white;
	background-color: #4fabc9;
}

#logout {
	color: white;
	background-color: #4fabc9;
}

i {
	float: left;
	/*padding-top: 5px;
	padding-left: 5px;*/
}

.photomatic {
	float: left;
	font-weight: bolder;
	padding-left: 10px;
	font-size: 22px;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
	text-decoration: none;
}

.welcome {
	float: left;
	font-weight: normal;
	padding-left: 10px;
	font-size: 22px;
}

footer {
color: white;
text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}

/*Login Form & Sign Up Form
**
***/

.welcome {
	float: left;
	font-weight: normal;
	padding-left: 10px;
	font-size: 22px;
}

.Form {
	position: absolute;
	margin: 0 auto;
	width: 30%;
	padding: 20px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 6px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: black;
}

.username, .password {
	font-weight: bold;
}

.login-password, .login-username,
.signup-username, .signup-password,
.signup-conf-password {
	font-style: italic;
}

input, textarea
			 {
				display: block;
				width: 60%;
				height: 40%;
				display: block;
			  margin-left: auto;
			  margin-right: auto;
			}


.submit {
	background-color: #4fabc9;
}

/* Upload Page
**
***/

.upload-container {
	background: url('/app-images/vpolaroid.jpg') center center fixed;

}

.upload {
position: absolute;
margin: 0 auto;
width: 30%;
padding: 20px;
background: #FFF;
border: 1px solid #CCC;
border-radius: 6px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 18px;
color: black;
display: block;
margin-left: auto;
margin-right: auto;
}

#upload {
	background-color: #4fabc9;
	color: white;

}

.file {
	width: 100%;
}

/*
** Comments and Likes on the Photo page
***/

.commentcontainer {
	float: left;
}

.username {
	text-align: center;
	font-weight: bold;
	color: #4fabc9;
}

.comments-comment-text {
	word-wrap: break-word;
}

.userexp {
	margin: auto;
	width: 41%;
	display: block;
}

.photo-like, .delete-button.button, .comment {
	float: left;
}

.likes {
	text-align: center;
	font-size: 18px;
}

#comment {
	text-align: center;
	padding-top: 30px;
	font-size: 45px;
	font-weight: bold;
}

.comments-empty {
	text-align: center;
}

.photo-full {
	padding-top: 10px;
	padding-bottom: 10px;
}

.comment {
	background-color: #4fabc9;
	flex-wrap: wrap;
}

.comments-comment {
	word-wrap: break-word;
}

.comments-comment-text {
	padding: 3px 75px 75px 3px;
	text-align: center;
	/*display: block;
	height: 30%;
	width: 40%*/
}

.commentcontainer {
	text-align: center;
}

a:link {
    text-decoration: none;
}

.photo-like {
	background-color: #4fabc9;
	flex-wrap: wrap;
}

#btn-like {
	text-align: center;
	position: fixed;
	bottom: 20px;
	width: 100%;
}


/*
** GALLERY IMAGE AND PHOTO PAGE
***/

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
	display: block;
  margin-left: auto;
  margin-right: auto;
	float: inherit;
}

.photo-full {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-description {
	/*display: block;
  margin-left: auto;
  margin-right: auto;*/
	text-align: center;
}

.gallery-image {
	padding-top: 10px;
}

#gallery {
	background-color: #4fabc9;
	color: white;
	display: block;
  margin-left: auto;
  margin-right: auto;
}


.delete-button.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #4fabc9;
	flex-wrap: wrap;
}

.userexp {
	display: block;
  margin-left: auto;
  margin-right: auto
}

/**********************
******** PREVIEW ******
************************/

h5 {
	text-align: center;
}

a.document-download.button {
	display: block;
  margin-left: auto;
  margin-right: auto;
	background-color: #4fabc9;
	width: 10%;
	color: white;
	text-align: center;
}

.document-preview {
	padding-top: 17px;
}
