<html>
	<head>
		<title>404 ERROR</title>
<!-- CSS
----------------------------------------------------------------->
<meta name="viewport" content="width-device-width, initial scale=1">
<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
<link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
<link rel="stylesheet" types="text.css" href="/css/normalize.css">
<link rel="stylesheet" types="text.css" href="/css/skeleton.css">
<link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>



		<h1 class="error">Page Not Found!</h1>

		<img src="/app-images/device-camera-icon.png" class="errorphoto">

</html>