
<link rel="stylesheet" types="text.css" href="/css/normalize.css">
<link rel="stylesheet" types="text.css" href="/css/skeleton.css">
<link rel="stylesheet" types="text.css" href="/css/stylesheet.css">

<body style="background:url('<%- photo.getPreviewSrc() %>'); background-repeat:no-repeat;background-size:cover;
 ">

<form class = "commentForm" method = "POST" id = "comment-form" action="/photo/comment" >

<p id="comment">
		Comment
</p>

<p>
		<textarea name= "text" class= "comment-text-field" placeholder="Place your comment here" />
		</textarea>
		<input name="photoId" type="hidden" value="<%- photo.get("id") %>"/>
</p>

	<button class ="submit">Submit</button>
</form>
</body>
