<div class = "photos">


	<% for (let i = 0; i < photos.length; i++) { %>
		<a href = "/photo/preview/<%- photos[i].get('id') %>">
			<img src ="<%- photos[i].getThumbnailSrc() %>"/>
			<%- photos[i].get("originalName") %>

	<% } %>
</div>
