<!DOCTYPE HTML/>
<html>
  <head>
    <title>Photomatic</title>

<!--CSS
--------------------------------------------------------->
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
    <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
    <link rel="stylesheet" types="text.css" href="/css/normalize.css">
    <link rel="stylesheet" types="text.css" href="/css/skeleton.css">
    <link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class = "bodytemp">

<!--Navigation Bar
--------------------------------------------------------->
	<div class = "template">
    <div class = "template-header">
      <nav>
        <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
        <div class = "photomatic">Photomatic</div>

          <a href ="/user/signup"><div class = "button" id="signup">Sign Up</div></a>
          <a href = "/user/login"><div class= "button" id="login">Login</div></a>

      </nav>

        <!-- <main class= "template-main">

		    </main> -->

    </div>
  </div>
  <div class = "row">
    <div class="six">Welcome to Photomatic! Let's start posting your sharing photos!
  </div>


<!-- Footer
--------------------------------------------------------->

  <footer>Photomatic 2017</footer>

</body>
</html>
