
    <title>Photomatic</title>


  <body class = "bodytemp">

<!--Navigation Bar
--------------------------------------------------------->
	<div class = "template">
    <div class = "template-header">
      <nav>
        <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
        <div class = "photomatic">Photomatic</div>

          <a href ="/user/signup"><div class = "button" id="signup">Sign Up</div></a>
          <a href = "/user/login"><div class= "button" id="login">Login</div></a>

      </nav>

        <!-- <main class= "template-main">

		    </main> -->

    </div>
  </div>
  <div class = "row">
    <div class="six">Welcome to Photomatic! Let's start posting your sharing photos!
  </div>


<!-- Footer
--------------------------------------------------------->

  <footer>Photomatic 2017</footer>

</body>
</html>
