<link rel="stylesheet" types="text.css" href="/css/normalize.css">
<link rel="stylesheet" types="text.css" href="/css/skeleton.css">
<link rel="stylesheet" types="text.css" href="/css/stylesheet.css">



<div class="document">

	<% if (photo.getPreviewSrc()) { %>
		<img class="document-preview" src="<%- photo.getPreviewSrc() %>"/>
	<% } else { %>
		<div class="document-preview noPreview">No preview available</div>
	<% } %>
	<h5><%- photo.get("description") %></h5>

	<a href="/photo/gallery"><button class="button" id="gallery">Gallery</button></a>
</div>
