


<div class="document">

	<% if (photo.getPreviewSrc()) { %>
		<img class="document-preview" src="<%- photo.getPreviewSrc() %>"/>
	<% } else { %>
		<div class="document-preview noPreview">No preview available</div>
	<% } %>
	<h5><%- photo.get("description") %></h5>

	<a class="button" href="/photo/gallery">Gallery</a>

</div>
