<form class = "Form">
		Username
		<input class="signup-username" type="text" name = "signup-username" placeholder="Please Enter A Username"></input><br>
		Password
		<input class="signup-password" type="text" name = "signup-password" 					placeholder="Please Enter A Password"></input><br>
		Password Confirmation
		<input class="signup-conf-password" type="text" name = "signup-conf-password" placeholder="Please Re-Enter the Password"></input><br>
	<button>Submit</button>
</form>
