<form class="upload" enctype="multipart/form-data" method="post">
	<% if (typeof error !== "undefined") { %>
		<p class="upload-error">
			<%- error %>
		</p>
	<% } %>
	<input type="file" name="file"/>
	<textarea name = "description"
	placeholder = "Enter the description of your photo"> </textarea><br>
	<button>Upload</button>
</form>
